
@using cloudscribe.Web.Pagination
@using Uno.Areas.Backoffice.Models


@model RoleListViewModel

@{
    ViewData["Title"] = "Index";

}

@*@model ProductListViewModel

    @section style {
        <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    }

    <!-- Page Heading -->
    @*<h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>*@
<!-- DataTales Example -->

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Roles</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <p class="text-right">
                <a asp-action="Create" class="btn btn-primary">Create New</a>
            </p>
            <!--qui-->

            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        @*<th>@Html.DisplayNameFor(model => model.AddressID)</th>*@
                        <th>Guid</th>
                        <th>Name</th>
                        @*<th> @Html.DisplayNameFor(model => model.ImmagineProfilo)</th>*@
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var role in Model.Roles.Data)
                    {
                        <tr>
                            <td> @role.Id</td>
                            <td> @role.Name</td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                        <i class="fa fa-cog"></i> Azioni
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a asp-area="Backoffice" asp-controller="ApplicationRoles" asp-action="Details" asp-route-id="@role.Id" style="font-size:0.89rem"><i class="fa fa-search"></i> Visualizza</a></li>
                                        <li><a asp-area="Backoffice" asp-controller="ApplicationRoles" asp-action="Edit" asp-route-id="@role.Id" style="font-size:0.89rem"><i class="fa fa-edit"></i> Edit</a></li>
                                        @*<li><a asp-area="Backoffice" asp-controller="ApplicationUsers" asp-action="Delete" asp-route-id="@item.Id" style="font-size:0.89rem"><i class="fa fa-undo"></i> Delete</a></li>*@
                                        <li><a asp-area="Backoffice" asp-controller="ApplicationRoles" asp-action="DeleteConfirm" asp-route-id="@role.Id" data-toggle="modal" data-id="@role.Id" data-target="#deleteconfirmModal" class="open-delete-item"><i class="fa fa-undo"></i> Delete</a>
                                        <li>

                                    </ul>
                                </div>

                            </td>

                        </tr>
                    }



                </tbody>
            </table>
            <div>
                <cs-pager cs-paging-pagesize="@Model.Roles.PageSize"
                          cs-paging-pagenumber="@Model.Roles.PageNumber"
                          cs-paging-totalitems="@Model.Roles.TotalItems"
                          cs-pagenumber-param="p"
                          cs-pager-li-current-class="page-item active"
                          cs-pager-li-other-class="page-item"
                          cs-pager-li-non-active-class="page-item disabled"
                          cs-pager-link-current-class="page-link"
                          cs-pager-link-other-class="page-link">

                </cs-pager>
            </div>

            <!--qui fine-->
        </div>


        @*<div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 2 of 2 entries</div>
                </div>
                <div class="col-sm-12 col-md-7">


                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="dataTable_previous"><a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="dataTable_next"><a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div>

                </div>
            </div>*@
    </div>

</div>

<!-- delete confirm Modal-->
<div class="modal fade" id="deleteconfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete this item?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Delete" below if you want to delete record and cancel to reject.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>

                <a class="btn btn-primary ADeleteEntity">Delete</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        function PagerRequestSuccess(data) {
            //console.log("This is the OnSuccessCallback: " + data);
            console.log("This is the OnSuccessCallback");
        }
        function PagerRequestFailure(request, error) {
            console.log("This is the OnFailure Callback:" + error);
        }

    </script>



}